/* ---------------- 공통 스타일 ---------------- */
@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div, input, textarea {
    box-sizing: border-box;
}

body {
    padding: 40px;
    font-family: "SpoqaHanSansNeo-Regular", sans-serif;
}

/* ---------------- 메인 상단 부가서비스 섹션 ---------------- */
.main-service-top {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #b2b3b5;
}

.main-service-top-left {
    display: flex;
}

.main-service-top-right {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.top-services {
    margin: 0px 10px 30px 0px;
}

.customer-center {
    margin: 0px 10px 30px 0px;
}

.login-signup {
    margin: 0px 0px 30px 0px;
}

/* ---------------- 메인 상단 로고 섹션 ---------------- */
.main-logo-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main-logo-top-left, .main-logo-top-right {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #b2b3b5;
}

.main-logo {
    width: 120px;
}

.search-box {
    box-sizing: content-box;
    width: 18.75rem;
    border-radius: 5px;
    height: 1.8rem;
    padding: 10px 20px;
    border: solid #e5e5e5 1px;
    margin-left: 40px;
    font-size: 15px;
    font-family: "SpoqaHanSansNeo-light", sans-serif;
}

.my-page {
    margin: 0px 10px 0px 0px;
}

.my-cart {
    margin: 0px;
}

/* ---------------- 메인 카테고리 섹션 ---------------- */
.navbar {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-family: "SpoqaHanSansNeo-medium", sans-serif;
    font-size: 15px;
}

.navbar-border {
    border-top: solid #e5e5e5 1px;
}

.navbar li {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 13px;
    margin: 0px 4px 0px 0px;
}

.navbar-category {
    width: 70px !important;
    text-align: left !important;
    padding: 0px !important;
    margin: 0px 0px 0px 0px !important;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    text-decoration: none;
    color: inherit;
}

.navbar a:active {
    color: inherit;
}